.*{
    margin: 0;
    padding: 0;
}
.parent{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    row-gap: 10px;
    column-gap: 20px;
   flex-wrap: wrap;
}
.child{
    max-width: 25rem;
    text-align: center;
}
img{
    width: 100%;
}